#bottomTabPane{
    -fx-background-color: #eeeeee;
    -fx-border-color: #dddddd;
}


.defaultBorder, #bottomBookmarkPane, #bookmarkListPane, #bottomTabPaneColourChannelsPane,
#bottomTabPaneFormatPane, #lightControlGroup, #filterParamsPane{
    -fx-border-color: #dddddd;
    -fx-border-radius: 5;
}