#lightControlGroup, #filterParamsPane{
    -fx-border-color: #dddddd;
    -fx-border-radius: 5;
}

#bottomTabPane{
    -fx-background-color: #eeeeee;
    -fx-border-color: #dddddd;
}

#bottomBookmarkPane, #bookmarkListPane, #bottomTabPaneColourChannelsPane,
#bottomTabPaneFormatPane{
    -fx-border-color: #dddddd;
    -fx-border-radius: 5;
}