#loadingDialogMainBox{
    -fx-background-color: #2b2b2b;
}

#loadingDialogLabel{
    -fx-text-fill: #ffffff;
}

#loadingDialogProgressIndicator{
    -fx-progress-color: #55c4fe;
}

.dialog-pane, .dialog-pane .header-panel{
    -fx-background-color: #2b2b2b;
}

.dialog-pane .label{
    -fx-text-fill: #ffffff;
}


.dialog-pane .button{

    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;

    -fx-background-radius: 1px;
    -fx-border-radius: 1px;

    -fx-background-color: #1d1d1d;

    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: #d8d8d8;
}

.dialog-pane .button:hover{
    -fx-background-color: #3a3a3a;
}

.dialog-pane .button:pressed, .dialog-pane .button:default:hover:pressed
{
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.dialog-pane .button:focused
{
    -fx-border-color: white, white;
    -fx-border-width: 1, 2;
    -fx-border-style: solid, segments(1, 2);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.dialog-pane .button:disabled, .dialog-pane .button:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.dialog-pane .button:default
{
    /* -fx-background-color: #008287; */
    -fx-text-fill: #ffffff;
}

.dialog-pane .button:default:hover{
    -fx-background-color: #3a3a3a;
}

.dialog-pane .button .label{
    -fx-padding: 0 0 0 0;
}